body{
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0%;
    padding: 0%;
    background-color:#737373;
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: 700px;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/b321426e-35ae-4661-b899-d63bca17648a/c6e22290-98e5-4eee-b72d-47156e4893fc/IN-en-20220926-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    float: left;
    background-color: #737373;
    
    
    

}
.header{
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image:linear-gradient(to bottom,black,transparent);
    
}
.logo{
    width: 190px;
    height: 112px;
    background-image: url(IMAGESRC/logo.png);
    background-size:cover;
    margin-left: 33px;
    padding-top: 5px;
    position: relative;
    float: left;
}
.lang{
   
    color: white;
    height: 40px;
    width: 95px;
    position: relative;
    left: 81%;
    bottom: 65px;
    border-color: white;
    border-width: 2px;
    background-color:transparent;
    border-radius: 4px;

}
.textlang{
    color: white;
    background-color: rgba(0,0,0,.4);
}
.signin{
    color: white;
    height: 40px;
    width: 88px;
    position: relative;
    left: 73%;
    background-color: red;
    cursor:pointer;
    font-size: 12px;
    font-weight:500;
    position: relative;
    border-radius: 4.5px;
    border-color:red ;
    border-width: 2px;
    border-style:solid ;


}
.text1{
    text-align: center;
}
.t11{
color: white;
font-size: 65px;
}
.t12{
color: white;
font-size: 30px;
}
.t13{
color: white;
font-size: 20px;
}
.mail{
width: 250px;
height: 30px;
padding-right: 0%;
padding-left: 0%;
}
.getstarted{
color: white;
background-color: red;
border-color: red;
width:100px ;
height: 35px;
cursor: pointer;
margin-left: 0%;
font-weight: 600;

}
.class2{
background-color: black;
height: 425px;
width: 100%;
padding-top: 40px;
z-index: -1;
}
.text2{
    width: 600px;
    height: 200px;
    display: inline-block;
    padding-top: 50px;
}

.t21{
color: white;
font-weight: 700;
font-size: 50px;
text-align: center;

}
.t22{
color: white;
font-size: 25px;
text-align: center;
}
.videosec{
    position: absolute;
    display: inline-block;
    padding-left: 100px;
    
}
.tv{
    width:525px ;
    height:390px;
    position: relative;
    z-index: 1;
   
}
.video{
width: 380px;
height: 225px;
position:absolute;
left: 70.25%;
top: 75px;
}

.class3{
    width: 100%;
    height: 400px;
    background-color:black;
}
.display{
width:450px;
height: 450px;
background-color:black;
display: inline-block;

}
.millie{
    width: 428px;
    height: 300px;
    margin-left: 18px;
    margin-top: 27px;
}
.download{
    
    width: 299px;
    height: 91px;
    position: relative;
    left: 21%;
    border-width: 1px;
    border-color:rgb(88, 82, 82);
    border-style: solid;
    border-radius: 11px;
    background-color: black;
    padding-left: 8px;
    padding-top:5px ;
    padding-bottom: 2px;
}    
.poster{
    
    width: 60px;
    height: 89px;

    position: relative ;
    display: inline-block;
}
.name{
    position: relative;
    display: inline-block;
    color: white;
    left: 15px;
    bottom: 45px;
    font-weight: bold;
}
.down{
    position: relative;
    color: blue;
    left: 30%;
    bottom: 90%;
    font-weight:300;
    
}

.action{
    display: inline-block;
    height:50px ;
    width: 50px;
    position: relative;
    left: 77%;
    bottom: 155%;
    cursor: pointer;
}

.text3{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 185%;
}
.t31{
color: white;
font-size: 53px;
}
.t32{
color: white;
font-size: 25px;

}


.class4{
    width: 100%;
    height: 350px;
    background-color:black;

}
.class4{
padding-top: 200px;
padding-left: 100px;
height: 400px;
}
.display1{
display: inline-block;

}
.kids{
width: 470px;
height: 400px;
}
.text4{
    display: inline-block;
    position: absolute;
    padding-left: 70px;
    padding-top: 3%;
}
.t41{
color: white;
font-size: 53px;
}
.t42{
color: white;
font-size: 25px;
}
.class5{
    background-color: black;
    width: 100%;
    height: 800px;
    padding-top: 100px;
}
.qstn{
    color: white;
    font-size: 40px;
    text-align: center;
    
}
.q1{
    background-color: #303030;
    width: 750px;
    padding-left: 20px;
    height: 70px;
    margin-left: 275px;
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.t51{
color: white;
font-weight:200 ;
margin-left: 350px;
}
.class6{
    width: 100%;
    padding-top: 5%;
}
.form{
    padding-left: 325px;
    
}
.email{
    width: 500px;
    height: 50px;
    padding-left: 2.5%;
    font-size: 15px;
}
.gs{
    color: white;
background-color: red;
border-color: red;
width:100px ;
height: 55px;
cursor: pointer;
margin-left: 0%;
font-weight: 600;
}
.footer{
    padding-left: 8%;
    padding-top: 1.5%;
    height: 400px;
    background-color: black;
}
.f1{
    color: #737373;
}
.foottable{
  font-size: 13px;  
  color: #737373;
  width: 56%;
}
.row{
    height: 33px;
}
.table_text{
    text-decoration: none;
    color:#737373;
}
.table_text:hover{
    text-decoration: underline;
    color:darkblue;
}
.foot_button{
    margin-top: 2%;
    height: 54px;
    width: 130px;
    background-color: transparent;
    color: #737373;
    font-size: 17px;
    padding-left: 7px;
    border-style: solid;
    border-color: #737373;
    border-width: thin;
}
.text_net{
    color: #737373;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2%;
}
